/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #333;
    padding: 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar ul li a:hover {
    color: #999;
  }
  
  /* Main content styles */
  .container {
    max-width: 90%;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h1 {
    font-size: 28px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }

  #profile_pic{
    height: 200px;
    width: 200px;
    margin-right: 5%;
    border-radius: 50%;
  }

  #about{
    display: flex;
    justify-content: space-evenly;
  }

  #logo{
    height: 100px;
    width: 100px;
    margin-right: 5%;
  }

  #logo_small{
    height: 50px;
    width: 50px;
    margin-right: 1%;
  }

  .experience_container{
    display: flex;
    justify-content: flex-start;
  }
  